
body {
    background-color: #c1f9c6;
}

.container {
    background-color: white;
}

.jumbotron {
    background-image: url(../images/gp_back1.png);
    margin-bottom: 0;
    border-radius: 0em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D8D9DA;
}

img#greatest_comics_image {
    width: 100%;
}

form {
    margin-bottom: 2.5em;
}

form label {
    font-weight: bold; 
}

div.unboldLabel label {
    font-weight: normal;
}

#submitButton {
    margin-right: .751em;
}

.form-control {
    width: 250px;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
    line-height: 2em;
}

